<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<suite name="Yatra" verbose="2">
<test enabled="true" name="Yatra-test cases" preserve-order="true">
	<classes>
	 <class name="com.yatra.web.tests.TestCases">
			<methods>
				<include name="checkoutProcessForGuestUser"/>
				
				
				
			</methods>
			
		</class>	
	</classes>
  </test>
  
  </suite>
  
